In [39]:
def kpk(a, b):
 if a > b:
   terbesar = a
 else:
  terbesar = b
 while True:
  if terbesar % a == 0 and terbesar % b == 0:
    hasil = terbesar
    break
  terbesar += 1
 return hasil
a = 3
b = 4
print("KPK dari", a, "dan", b, "adalah", kpk(a, b))

KPK dari 3 dan 4 adalah 12

In [40]:
def menukar(x, y):
 piring = [x, y, ""]
 for i in range(len(piring)):
  piring[2] = x
  piring[0] = y
  piring[1] = x
  piring[2] = ""
  print("piring", i+1, "=", str(piring[i]))
x = "manggis"
y = "pisang"
print("piring 1 =", x)
print("piring 2 =", y)
print("piring 3 = ")
print("\nHasil penukaran:")
menukar(x, y)

piring 1 = manggis
piring 2 = pisang
piring 3 =

Hasil penukaran:
piring 1 = pisang
piring 2 = manggis
piring 3 =

In [41]:
def luas_segitiga(alas, tinggi):
 return 0.5*alas*tinggi
alas = 25
tinggi = 30
print("Alas =", alas, "\nTinggi =", tinggi, "\nLuas = ", luas_segitiga(alas, tinggi))

Alas = 25
Tinggi = 30
Luas =  375.0

In [42]:
def luas_jajargenjang(alas, tinggi):
 return alas*tinggi
alas = 5
tinggi = 3
print("Alas =", alas, "\nTinggi =", tinggi, "\nLuas = ", luas_jajargenjang(alas, tinggi))

Alas = 5
Tinggi = 3
Luas =  15

In [43]:
import math
def volume_tabung(r, t):
 return math.pi*r**2*t
jari_jari = 3
tinggi = 5
print("Jari-jari =", jari_jari, "\nTinggi =", tinggi, "\nLuas = ", volume_tabung(jari_jari,
tinggi))

Jari-jari = 3
Tinggi = 5
Luas =  141.3716694115407

In [44]:
import math
def volume_kerucut(d, t):
 r = d/2
 return 1/3*math.pi*r**2*t
diameter = 5
tinggi = 4
print("Diameter =", diameter, "\nTinggi =", tinggi, "\nVolume = ",
volume_kerucut(diameter, tinggi))

Diameter = 5
Tinggi = 4
Volume =  26.17993877991494

## Latihan pertemuan 2

In [1]:
import numpy as np

#terdapat list A dan B
a = [1, 2, 3]
b = [4, 5, 6]

#Jumlahkan
hasil = a + b

print(hasil)

[1, 2, 3, 4, 5, 6]

In [2]:
import numpy as np

#membuat array
nilai_siswa = np.array([85, 55, 40, 90])

#mengakses data pada array
print(nilai_siswa[0])

85

In [ ]:
import numpy as np

#terdapat list A dan B
a = [1, 2, 3]
b = [4, 5, 6]

def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first + second)
  return result

add(a, b)

In [3]:
import numpy as np

print(np.__version__)

1.23.5

In [4]:
print("Hello, World!")
print("Nama saya Amos Immanuel Sihombing")
print("Nim saya 2022071020")

Hello, World!
Nama saya Amos Immanuel Sihombing
Nim saya 2022071020

In [5]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [6]:
x = 5
y = "john"
print(x)
print(y)

5
john

In [7]:
x = 4
x = "Sally"
print(x)

Sally

In [8]:
def getfirst(myList):
    return myList[0]

getfirst([1,2,3,])

1

In [9]:
def getfirst(myList):
    return myList[2-1]

getfirst([1,2,3,])

2

In [10]:
def getfirst(myList):
    return myList[5-2]

getfirst([1,2,3,4,5])

4

In [11]:
getfirst([1,2,3,4,5,6,7,8,9])

4

In [12]:
def getsecond(myList):
    return myList[1]

getsecond([1,2,3])

2

In [13]:
def getLast(myList):
    return myList[-1]

getLast([1,2,3,4,5,6,7,8,9])

9

In [14]:
def getLast(myList):
    return myList[-2]

getLast([1,2,3,4,5,6,7,8,9])

8

In [15]:
def getLast(myList):
    return myList[-3]

getLast([1,2,3,4,5,6,7,8,9])

7

In [16]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum
#perhatikan posisi spasi pada return

getSum([1,2,3,4])

10

In [17]:
  def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum

getSum([1,2,3])

6

In [18]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

15

In [19]:
def getSum(myList):
    sum = 1
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

16

In [20]:
def getSum(myList):
    sum = 2
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

17

In [21]:
def getSum(myList):
    sum = -2
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

13

In [22]:
def getSum(myList):
    sum = -5
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

10

In [23]:
def getSum(myList):
    sum = 2-3
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

14

In [24]:
def getSum(myList):
    sum = 3-1
    for item in myList:
        sum = sum+item
    return sum


getSum([1,2,3,4,5])

17

In [25]:
def getKali(myList):
    kali = 1
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

120

In [26]:
def getKali(myList):
    kali = 0
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

0

In [27]:
def getKali(myList):
    kali = 5
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

600

In [28]:
def getKali(myList):
    kali = 5
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3])

30

In [29]:
def getKali(myList):
    kali = -2
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

-240

In [30]:
def getKali(myList):
    kali = 3
    for item in myList:
        kali = kali*item
    return kali

getKali([1,2,3,4,5])

360

In [31]:
def getBagi(myList):
    bagi = 0
    for item in myList:
        bagi = bagi/item
    return bagi

getBagi([1,2,3,4,5])

0.0

In [32]:
def getBagi(myList):
    bagi = 1
    for item in myList:
        bagi = bagi/item
    return bagi

getBagi([1,2,3])

0.16666666666666666

In [33]:
def getBagi(myList):
    bagi = 2
    for item in myList:
        bagi = bagi/item
    return bagi

getBagi([1,2,3])

0.3333333333333333

In [34]:
def getAverage(myList):
    Average = 0
    for item in myList:
        Average = sum(myList) / len(myList)
    return Average


getAverage([1,2,3,4,5])

3.0

In [35]:
def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first - second)
  return result

add(a, b)

[-3, -3, -3]

In [36]:
x = ([1,2,3,4,5])
y = ([1,2,3,4,5])
hasil = sum(x) / sum(y)
print(hasil)

1.0

In [37]:
def kurang(list_a, list_b):
  return getSum(list_a) - getSum(list_b)

kurang([1,2,3,4],[5,6,7,8])

-16

In [38]:
def bagi(list_a, list_b):
  return getSum(list_a) / getSum(list_b)

bagi([1,2,3,4],[5,6,7,8])

0.42857142857142855